<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 475.25pt; border-collapse: collapse; border: none;">
    <tbody id="append-tag">
        <tr style="height: 19.75pt;">
            <td colspan="2" style="width: 475.25pt; border: solid windowtext 1.0pt; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p id="heading-append" style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component <span style="color: black;">name: Showcase Product &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 25.9pt;">
            <td colspan="2" style="width: 475.25pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Left Bar Headline (required)- Character limit is 30. Default value is &quot;Product Models&quot;</span></p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong><span style="color: black;">Cards&nbsp;</span></strong></p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Minimum 2 cards. No maximum.</span></li>
                    <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Card Headline (required) up to 30 characters. Text field. Must be key-term relevant.</span></li>
                    <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Card&nbsp;Body (optional) up to 60 characters. Text field.</span></li>
                    <li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Card&nbsp;CTA (required) text link up to 15 characters. Text field. Label required.</span></li>
                </ul>
            </td>
        </tr>
        <tr style="height: 17.5pt;">
            <td colspan="2" style="width: 475.25pt; border: solid windowtext 1.0pt; border-top: none; background: #E7E6E6; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Heading/Copy/Call to Action</span></em></p>
            </td>
        </tr>
        <tr style="height: 17.5pt;">
            <td colspan="2" style="width: 475.25pt; border: solid windowtext 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Left Bar Headline]</strong></p>
                <p id = 'a1-left-h1'style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p> 
            </td>
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p id="card-1" style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;text-align:center;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Card 1</span></em></p>
            </td>            
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Image</span></em></p>
            </td>           
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 104.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Source:</span></em><span style='font-size:15px;font-family:  "Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span id='a1-image-source' style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Alt text:</span></em><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><span id ='a1-image-alt-text'style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>                
            </td>            
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 34.45pt;border-image: initial;vertical-align: top;'>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Headline]&nbsp;</strong></p>
                <p id = 'a1-h1'style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>                
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Body]</strong></p>
                <p id = 'a1-body' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[CTA]</strong></p>
                <p id = 'a1-cta1'style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Link]</strong></p>
                <p id = 'a1-link1' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>               
            </td>            
        </tr>
        
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p id="card-2" style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;text-align:center;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Card 2</span></em></p>
            </td>            
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Image</span></em></p>
            </td>           
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 104.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Source:</span></em><span style='font-size:15px;font-family:  "Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span id='a2-image-source' style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Alt text:</span></em><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><span id ='a2-image-alt-text'style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>                
           </td>            
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 34.45pt;border-image: initial;vertical-align: top;'>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Headline]&nbsp;</strong></p>
                <p id = 'a2-h1'style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>                
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Body]</strong></p>
                <p id = 'a2-body' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[CTA]</strong></p>
                <p id = 'a2-cta1'style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Link]</strong></p>                
            </td>            
        </tr> 
        
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p id="card-3" style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;text-align:center;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Card 3</span></em></p>
            </td>            
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Image</span></em></p>
            </td>           
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 104.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Source:</span></em><span style='font-size:15px;font-family:  "Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span id='a3-image-source' style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Alt text:</span></em><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><span id ='a3-image-alt-text'style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>                
           </td>            
        </tr>
        <tr>
            <td style='width: 475.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 34.45pt;border-image: initial;vertical-align: top;'>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Headline]&nbsp;</strong></p>
                <p id = 'a3-h1'style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>                
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Body]</strong></p>
                <p id = 'a3-body' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[CTA]</strong></p>
                <p id = 'a3-cta1'style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Link]</strong></p>
                <p id = 'a3-link1' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>                
            </td>            
        </tr>       
    </tbody>
</table>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>