<table style="width:465.0pt;border-collapse:collapse;">
    <tbody>
        <tr>
            <td
                style="width: 463pt;border: 1pt solid black;background: rgb(231, 230, 230);padding: 0in;height: 13.5pt;vertical-align: top;">
                <p id="heading-append" style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><em><span style="font-size:15px;color:black;">Component name: Long Form</span></em></p>
            </td>
        </tr>
        <tr>
            <td
                style="width: 463pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 13.5pt;vertical-align: top;">
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><em><span id="theme" style="font-size:15px;color:black;">Theme: light (default) | dark</span></em></p>
            </td>
        </tr>
        <tr>
            <td
                style="width: 463pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 78.75pt;vertical-align: top;">
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><strong><span style="font-size:15px;line-height:106%;color:black;background:#f6b35b;">Orange = provided by stakeholder/author&nbsp;</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><strong><span style="font-size:15px;line-height:106%;color:black;background:#ECCAFA;">Purple = provided by GEC&nbsp;</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><em><span style="font-size:15px;line-height:106%;color:black;">Guidelines:&nbsp;</span></em></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><span style="font-size:15px;line-height:106%;color:black;">Form headline (optional, but recommended) up to 60 characters, plain text</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><span style="font-size:15px;line-height:106%;color:black;">Form ID (required) - Provide Marketo Form ID</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><span style="font-size:15px;line-height:106%;color:black;">Form description (optional) - instructions, up to 200 characters, plain text.</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><span style="font-size:15px;line-height:106%;color:black;">Form declaration (optional) - legal text, up to 200 characters, plain text.&nbsp;</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><span style="font-size:15px;line-height:106%;color:black;">Form submit button label (required)</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><span style="font-size:15px;line-height:106%;color:black;">&nbsp;</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><span style="font-size:15px;line-height:106%;color:black;">Confirmation/Thanks Headline (required) - Confirm/thank headline, up to 60 characters, plain text.&nbsp;</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><span style="font-size:15px;line-height:106%;color:black;">Confirmation/Thanks Message (required) - Confirm/thank message, up to 200 characters, plain text.</span></p>
            </td>
        </tr>
        <tr>
            <td
                style="width: 463pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 13.5pt;vertical-align: top;">
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><em><span
                            style="font-size:15px;color:black;">Form Long Content</span></em><span
                        style="font-size:15px;color:black;">&nbsp;</span></p>
            </td>
        </tr>
        <tr>
            <td
                style="width: 463pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0in;height: 1in;vertical-align: top;">
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style='font-family:"Times New Roman",serif;'><span style="color:black;background:#f6b35b;">[Form headline]</span></span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span id='form-headline'style='font-family:"Times New Roman",serif;'>&nbsp;</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style='font-family:"Times New Roman",serif;color:black;background:#f6b35b;'>[Form description / instructions]</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span id='form-description' style='font-family:"Times New Roman",serif;'>&nbsp;</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style='font-family:"Times New Roman",serif;color:black;background:#ECCAFA;'>[Marketo form name]</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span id='form-name'style='font-family:"Times New Roman",serif;'>&nbsp;</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style='font-family:"Times New Roman",serif;color:black;background:#ECCAFA;'>[Marketo form ID]</span></strong><span style='font-family:"Times New Roman",serif;color:black;background:#ECCAFA;'>&nbsp;</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><span id ='form-id'style='font-family:"Times New Roman",serif;'>&nbsp;</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style='font-family:"Times New Roman",serif;color:black;background:#ECCAFA;'>[Program name / salesforce campaign name]</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span id ='form-name'style='font-family:"Times New Roman",serif;'>&nbsp;</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style='font-family:"Times New Roman",serif;'>[Form declaration / legal]</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span id='form-declaration'style='font-family:"Times New Roman",serif;'>&nbsp;</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style='font-family:"Times New Roman",serif;color:black;background:#f6b35b;'>[Submit button label]</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;line-height:106%;'><span id='submit-button'style="font-size:15px;line-height:106%;">&nbsp;</span></p>
            </td>
        </tr>
        <tr>
            <td
                style="width: 463pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 13.5pt;vertical-align: top;">
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><em><span
                            style="font-size:15px;color:black;">Confirmation (right column, replaces
                            form)</span></em><span style="font-size:15px;color:black;">&nbsp;</span></p>
            </td>
        </tr>
        <tr>
            <td
                style="width: 463pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0in;height: 24pt;vertical-align: top;">
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span
                            style='font-family:"Times New Roman",serif;color:black;background:#f6b35b;'>[Confirmation/Thanks Headline]&nbsp;</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><span id = 'thanks-heading' style='font-family:"Times New Roman",serif;'>&nbsp;</span></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><strong><span style='font-family:"Times New Roman",serif;color:black;background:#f6b35b;'>[Confirmation/Thanks Message]</span></strong></p>
                <p style='margin:0in;font-size:16px;font-family:"Calibri",sans-serif;'><span id='thanks-message' style="font-size:15px;">&nbsp;</span></p>
            </td>
        </tr>
    </tbody>
</table>