<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><br></p>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 702px; border-collapse: collapse; height: 387px;">
    <tbody id="append-tag">
        <tr style="height: 12.45pt;">
            <td colspan="6" style="border: 1pt solid windowtext; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 17px; width: 700px;" valign="top">
                <p id="heading-append" style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component <span style="color: black;">name: Logo band &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 12.45pt;">
            <td colspan="6" style="border-color: currentcolor windowtext windowtext; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: initial; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 106px; width: 700px;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                <ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
                    <li>Logo image (required)&nbsp;</li>
                    <li>Alt text (required). Always contains organization name.&nbsp;</li>
                    <li>URL (optional).<ul style="list-style-type: disc;">
                            <li>Default is not to link.</li>
                            <li>Link all tiles or link none.</li>
                            <li>Link internally (netapp.com, preferred) or externally (e.g. to partner site).&nbsp;</li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p id="card-1" style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;text-align:center;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Logo Card 1</span></em></p>
            </td>
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p id="card-1" style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;text-align:center;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Logo Card 2</span></em></p>
            </td>             
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Logo Image</span></em></p>
            </td>
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Logo Image</span></em></p>
            </td>            
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 104.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Source:</span></em><span style='font-size:15px;font-family:  "Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span id='a1-image-source' style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Alt text:</span></em><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><span id ='a1-image-alt-text'style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>                
            </td>
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 104.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Source:</span></em><span style='font-size:15px;font-family:  "Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span id='a2-image-source' style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Alt text:</span></em><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><span id ='a2-image-alt-text'style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>                
            </td>              
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 34.45pt;border-image: initial;vertical-align: top;'>                
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Link]</strong></p>
                <p id = 'a2-link1' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>
                
            </td>
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 34.45pt;border-image: initial;vertical-align: top;'>                
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Link]</strong></p>
                <p id = 'a2-link1' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>                
            </td>                
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p id="card-1" style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;text-align:center;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Logo Card 3</span></em></p>
            </td>
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p id="card-1" style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;text-align:center;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Logo Card 4</span></em></p>
            </td>             
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Logo Image</span></em></p>
            </td>
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Logo Image</span></em></p>
            </td>            
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 104.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Source:</span></em><span style='font-size:15px;font-family:  "Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span id='a1-image-source' style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Alt text:</span></em><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><span id ='a1-image-alt-text'style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>                
            </td>
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 104.55pt;border-image: initial;vertical-align: top;'>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Source:</span></em><span style='font-size:15px;font-family:  "Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span id='a2-image-source' style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Alt text:</span></em><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>
                <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><span id ='a2-image-alt-text'style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>                
            </td>              
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 34.45pt;border-image: initial;vertical-align: top;'>                
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Link]</strong></p>
                <p id = 'a2-link1' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>
                
            </td>
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 34.45pt;border-image: initial;vertical-align: top;'>                
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Link]</strong></p>
                <p id = 'a2-link1' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>                
            </td>                
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p id="card-1" style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;text-align:center;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>View All Card</span></em></p>
            </td>                      
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;background: rgb(231, 230, 230);padding: 0in;height: 16.55pt;border-image: initial;vertical-align: top;'>
                <p id = 'a-view-all-link-enable' style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:black;'>Enable?:</span></em></p>
            </td>                      
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 104.55pt;border-image: initial;vertical-align: top;'>
               </td>                       
        </tr>
        <tr id = "delete-for-content">
            <td style='width: 151.45pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-top: none;padding: 0in;height: 34.45pt;border-image: initial;vertical-align: top;'>                
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Link]</strong></p>
                <p id = 'a-view-all-link' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>                
            </td>            
        </tr>
    </tbody>
</table>
<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>