<p id="page-url-source">&nbsp;</p>
<table class="MsoNormalTable" style="width: 640px; border-collapse: collapse; height: 129px;" cellspacing="0"
    cellpadding="0" border="1">
    <tbody>
        <tr style="height: 7.5pt;">
            <td style="width: 638px; border: 1pt solid black; background: #e7e6e6; padding: 0in; height: 31px;"
                colspan="2" valign="top">
                <p id ="heading-append" style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i> Page Component</i></p>
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Live URL:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;">
                <p id="page-url" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;</span></em></p>
            </td>
        </tr>        
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Review URL:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;">
                <p id="stage-url" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Enable Breadcrumb?</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;">
                <p id="breadcrumb-enabled" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">No</span></em></p>
            </td>
        </tr> 
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Breadcrumb:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;">
                <p id="breadcrumb" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;</span></em></p>
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Site Locations: </i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;">
                <p id="site-locations" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">A-Z Page Listing: No</br> Site Map: No </br> Personalization module: No</span></em></p>
            </td>
        </tr> 
        <tr style="height: 16px;">
            <td style="width: 638px; border: 1pt solid black; background: #e7e6e6; padding: 0in; height: 31px;"
            colspan="2" valign="top">
                            <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Metadata</span></em></p>
            </td>
        </tr>        
        <tr style="height: 25px;">
            <td style="border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in; height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Metadata Options: </i></span></p>
            </td>
            <td style="border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><a href="https://ntapwwwprodstage-web9.azurewebsites.net/content-operations/fy22-marketing-metadata/" target="_blank">FY22 Marketing Metadata</a></p>              
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Asset Type:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-AssetType" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Asset Subtype:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-AssetSubtype" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Asset Descriptor:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-AssetDescriptor" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Target Audience:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-TargetAudience" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Buyer Stage:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-BuyerStage" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Job Titles/Functions:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-JobTitlesFunctions" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>        
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Focus Audience:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-Campaign" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Play/Program/Topic:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-ProgramTopic" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Event:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-Event" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr> 
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Event Descriptor:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-EventDescriptor" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Industry/Industry Sector:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-Industry" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>         
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Department:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-Department" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr> 
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Product:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-Product" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr> 
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Session Type:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-SessionType" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr> 
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Services:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-Services" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr> 
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Geo:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-Geo" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr> 
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Geo Region:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-GeoRegion" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr> 
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Country / Region:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-CountryRegion" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr> 
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Hyperscaler:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-Hyperscaler" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>                
        <tr style="height: 25px;">
            <td style="width: 142px;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: #e7e6e6;padding: 0in;height: 25px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i> Custom Tags:</i></span></p>
            </td>
            <td style="width: 495px;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0in;height: 25px;"> 
                <p id="tag-Custom" style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"></p>              
            </td>
        </tr>                     
    </tbody>
</table><br/>