<div style="width: 650px;">

<p style="margin: 0in 0in 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table class="MsoNormalTable" style="width: 467.2pt; border-collapse: collapse; height: 276px;" border="1" cellspacing="0" cellpadding="0">
<tbody>
        <tr style="height: 16px;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Editing Page Guidelines</span></em></p>
            </td>
        </tr>
        <tr style="height: 54.6pt;">
            <td id= "page-content" style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 160px;" valign="top">
                <p><span style="font-size: 14px;">&nbsp;Making Updates to this page:</span></p>
                <p><span style="font-size: 14px;">&nbsp;Please highlight your updates using this system: </span></p>
                <ul>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">Initial requested changes: <span style="background-color:#26fe00">Highlighted in Green</span> &nbsp;</span></li>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">After review, second round of updates: <span style="background-color:#fafe00">Highlighted in Yellow</span> &nbsp;</span></li>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">To remove copy, use the strikethrough tool and highlight. Example: <span style="background-color:#fafe00"><s>Second Round Remove</s></span> &nbsp;</span></li>
                </ul>
                <p><span style="font-size: 14px;">&nbsp;Adding New Components:</span></p>
                <ul>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">If you would like to add a New Component you can do so on the <a href="https://ntapwwwprodstage-web9.azurewebsites.net/quickwires.html" target="blank_">Quickwires</a> page. First drag and drop the component you would like to create. Then click the "Component Document Maker" extension, then download. You will now have a 2nd document with the component you would like to add. You can now copy the component and paste it into this page document.  &nbsp;</span></li>
                </ul>                
                <p><span style="font-size: 14px;">&nbsp;Saving and Sharing this Document:</span></p>
                <ul>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">Enable AutoSave in Microsoft Word (top left in the document window)</span>
                    </li>

                    <li style="font-size: 14px;"><span style="font-size: 14px;">Click Share in Microsoft Word (top right in the document window) &nbsp;</span>
                    </li>

                    <li style="font-size: 14px;"><span style="font-size: 14px;">Change "People you specify can edit" to "People in NetApp Inc. with the link" &nbsp;</span>
                    </li>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">Then click "Copy" under "Copy link" &nbsp;</span>                       
                    </li>
                </ul>
            </td>
        </tr>       
    </tbody>
</table>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
</div>