<div style="width: 650px;">

<p style="margin: 0in 0in 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table class="MsoNormalTable" style="width: 467.2pt; border-collapse: collapse; height: 276px;" border="1" cellspacing="0" cellpadding="0">
<tbody>
        <tr style="height: 16px;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">SEO Engagement Guidelines</span></em></p>
            </td>
        </tr>
        <tr style="height: 54.6pt;">
            <td id= "page-content" style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 160px;" valign="top">
                <p><span style="font-size: 14px;">Engage with the SEO team for keyword suggestions if your changes fall under the following criteria. </span></p>
                <p><span style="font-size: 14px;">Major Updates: </span></p>
                <p><span style="font-size: 14px;">The SEO team will have insight on previous page keyword performance and possible industry updates that might help optimize page performance when updating the following:</span></p>
                <ul>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">The Hero (new title, new subhead, new body)</span></li>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">Any SEO Component content changes (URL path, title, description)</li>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">Page Component Metadata</li>
                </ul>
                <p><span style="font-size: 14px;">Creating a New Page:</span></p>
                <p><span style="font-size: 14px;">It's best to work with the SEO team to create an SEO strategy before the initial page design is complete. The SEO strategy includes the keyword(s) for the following:</span></p>
                <ul>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">Hero (title, subhead, body)</span></li>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">SEO Component content (URL path, title, description)</li>
                    <li style="font-size: 14px;"><span style="font-size: 14px;">Page Component Metadata</li>
                </ul>                
            </td>
        </tr>
        <tr style="height: 16px;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">SEO Suggested Key Words (filled out by the SEO team)</span></em></p>
            </td>
        </tr>
        <tr style="height: 54.6pt;">
            <td id= "page-content" style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in;" valign="top">
                <p><span style="font-size: 14px;">The words provided in the following section are suggested to be used in the primary content sections (Hero and SEO component) The order of importance are as follows: </br> Primary > Secondary > Tertiary</span></p>           
            </td>
        </tr>
    </tbody>
    
</table>
<table class="MsoNormalTable" style="width: 467.2pt; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr style="height: 53px;">
            <td style="width: 142px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 53px;">
            <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i>Primary Keyword(s)</i></span></p>
            </td>
            <td style="width: 495px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in; height: 53px;">
            <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;</span></em></p>
            </td>
            </tr>
            <tr style="height: 53px;">
                <td style="width: 155px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 53px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i>Secondary Keyword(s)</i></span></p>
                </td>
                <td style="width: 495px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in; height: 53px;">
                <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;</span></em></p>
                </td>
                </tr>
                <tr style="height: 53px;">
                    <td style="width: 142px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 53px;">
                    <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"><i>Tertiary Keyword(s)</i></span></p>
                    </td>
                    <td style="width: 495px; border-top: none; border-left: none; border-bottom: 1pt solid black; border-right: 1pt solid black; padding: 0in; height: 53px;">
                    <p style="margin: 0in; line-height: 106%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">&nbsp;</span></em></p>
                    </td>
                    </tr>
            
        </tbody>
        
    </table>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
</div>