<p><span style="color: #e03e2d;">Please note, Content Type should be 'Partner Connect' prior to publishing to production </span></p>
<table class="MsoNormalTable" style="width: 467.2pt; border-collapse: collapse; height: 383px;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 15px;">
<td style="width: 621.333px; border: 1pt solid black; background: #e7e6e6 none repeat scroll 0% 0%; padding: 0in; height: 15px;" colspan="2" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Component name: <span style="color: black;">Partner Detail &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br /></span></i></p>
</td>
</tr>
<tr style="height: 188px;">
<td style="width: 621.333px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: #e7e6e6 none repeat scroll 0% 0%; padding: 0in; height: 188px;" colspan="2" valign="top">
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">Guidelines: </span></i></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Headline (required)- Character limit 30</span></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Subhead (optional)- Character limit is 30</span></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Body&nbsp;(required)- Character limit is 200; Can have linked text but not suggested.</span></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA (optional)- Choose&nbsp;<b>one</b>&nbsp;of the following:</span></p>
<p style="margin: 0in 0in 0in 0.5in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA Link</span></p>
<ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
<ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
<li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">0-2 links, inline.</span></li>
<li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Character limit is 45. Keep it as short as possible.&nbsp;</span></li>
</ul>
</ul>
<p style="margin: 0in 0in 0in 0.5in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">CTA Button</span></p>
<ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
<ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
<li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">0-2 Buttons, inline.</span></li>
<li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Character limit is 25.</span></li>
<li style="margin-bottom: 0in; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">If two buttons, character limit is 10 per button.</span></li>
</ul>
</ul>
</td>
</tr>
<tr style="height: 30px;">
<td style="width: 154.967px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: #e7e6e6 none repeat scroll 0% 0%; padding: 0in; height: 30px;" valign="top">
<p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">PDB Data<br /></span></i></p>
</td>
<td style="width: 465.567px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; background: #e7e6e6 none repeat scroll 0% 0%; padding: 0in; height: 30px;" valign="top">
<p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">Heading/Copy/Call to Action</span></i></p>
</td>
</tr>
<tr style="height: 54.6pt;">
<td style="width: 154.967px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 150px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">Partner ID:</p>
<p>&nbsp;</p>
</td>
<td style="width: 465.567px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 150px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Partner Name]&nbsp;</b></p>
<p id="h1" style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Sub-head] </b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Body]</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[CTA]</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i>&nbsp;</i></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Link]</b></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<table class="MsoNormalTable" style="width: 620px; border-collapse: collapse; height: 72px;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 15px;">
<td style="width: 618px; border: 1pt solid black; background: #e7e6e6 none repeat scroll 0% 0%; padding: 0in; height: 15px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Component name: Partner Detail Meta Data<br /></i></p>
</td>
</tr>
<tr style="height: 188px;">
<td style="width: 618px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: #e7e6e6 none repeat scroll 0% 0%; padding: 0in; height: 10px;" valign="top">
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Guidelines: </i></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Custom Tags (optional)</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em>(Note: page-level tags are captured in the Partner Detail component via Partner ID.<br /></em></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Alliance Partners to Choose from are below</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em>&nbsp;&nbsp;&nbsp;</em></p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr style="height: 26px;">
<td style="width: 30.4207%; height: 26px;"><span style="font-size: 12px;"><label>AI</label></span></td>
<td style="width: 34.7896%; height: 26px;"><span style="font-size: 12px;"><label>Big Data</label></span></td>
<td style="width: 34.7896%; height: 26px;"><span style="font-size: 12px;"><label>Cloud Data Services</label></span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 30.4207%; height: 24px;"><span style="font-size: 12px;"><label>Cloud Infrastructure</label></span></td>
<td style="width: 34.7896%; height: 24px;"><span style="font-size: 12px;"><label>Colo</label></span></td>
<td style="width: 34.7896%; height: 24px;"><span style="font-size: 12px;"><label>Converged Infrastructure</label></span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 30.4207%; height: 24px;"><span style="font-size: 12px;"><label>Data Protection</label></span></td>
<td style="width: 34.7896%; height: 24px;"><span style="font-size: 12px;"><label>Media and Entertainment</label></span></td>
<td style="width: 34.7896%; height: 24px;"><span style="font-size: 12px;"><label>Security</label></span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 30.4207%; height: 24px;"><span style="font-size: 12px;"><label>Storage Management</label></span></td>
<td style="width: 34.7896%; height: 24px;"><span style="font-size: 12px;"><label>StorageGRID</label></span></td>
<td style="width: 34.7896%; height: 24px;"><span style="font-size: 12px;"><label>Video Surveillance</label></span></td>
</tr>
<tr style="height: 24px;">
<td style="width: 30.4207%; height: 24px;"><span style="font-size: 12px;"><label>Virtualization</label></span></td>
<td style="width: 34.7896%;">&nbsp;</td>
<td style="width: 34.7896%;">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr style="height: 54.6pt;">
<td style="width: 618px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 47px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[List of Alliance Partners]<br /></b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>SEO Title: </b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Image: </b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Description: </b></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table class="MsoNormalTable" style="width: 620px; border-collapse: collapse; height: 72px;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 15px;">
<td style="width: 618px; border: 1pt solid black; background: #e7e6e6 none repeat scroll 0% 0%; padding: 0in; height: 15px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Component name: Partner Detail Meta Data<br /></i></p>
</td>
</tr>
<tr style="height: 188px;">
<td style="width: 618px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: #e7e6e6 none repeat scroll 0% 0%; padding: 0in; height: 10px;" valign="top">
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Guidelines: </i></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Custom Tags (optional)</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em>(Note: page-level tags are captured in the Partner Detail component via Partner ID.<br /></em></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
</td>
</tr>
<tr style="height: 54.6pt;">
<td style="width: 618px; border-color: currentcolor black black currentcolor; border-style: none solid solid none; border-width: medium 1pt 1pt medium; padding: 0in; height: 47px;" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>SEO Title: </b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Image: </b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Description: </b></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>

<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table class="MsoNormalTable" style="width: 475.25pt; border-collapse: collapse; border: none;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 19.75pt;">
<td style="width: 475.25pt; border: 1pt solid windowtext; background: #e7e6e6; padding: 0in;" colspan="2" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Component name: Offset cards&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></p>
</td>
</tr>
<tr style="height: 25.9pt;">
<td style="width: 475.25pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in;" colspan="2" valign="top">
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Guidelines: </i></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Headline (required)- Character limit is 30</p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><b>Tiles</b></p>
<ul style="margin-top: 0in; margin-bottom: 0in;" type="disc">
<li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Minimum 2 tiles. No maximum.</li>
<li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Tile Headline (required)- up to 30 characters. Must be key-term relevant.&nbsp;</li>
<li style="margin-bottom: 0in; text-align: justify; margin-top: 0in; margin-right: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Tile Body (optional)- up to 60 characters. Rich text field. Superscript and bold okay. No other formatting, linking, or bullets allowed.&nbsp;<i>Links will break this component.</i></li>
<li style="text-align: justify; margin-top: 0in; margin-right: 0in; margin-bottom: 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">Tile CTA (required)- up to 15 characters. Text field. Label required.&nbsp;</li>
</ul>
</td>
</tr>
<tr style="height: 17.5pt;">
<td style="width: 475.25pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in;" colspan="2" valign="top">
<p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Heading/Copy/Call to Action</i></p>
</td>
</tr>
<tr style="height: 17.5pt;">
<td style="width: 475.25pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in;" colspan="2" valign="top">
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Headline]</b></p>
</td>
</tr>
<tr style="height: 25.9pt;">
<td style="width: 233.15pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in;" valign="top">
<p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i>Tile 1</i></b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Headline] Customer storeis</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Body]</b></p>
<p>Don't just take it from us, see what our customers are saying about NetApp.</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[CTA]</b></p>
<p>Explore customer stories</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Link] <a href="https://www.netapp.com/customers">https://www.netapp.com/customers</a></b></p>
</td>
<td style="width: 242.1pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in;" valign="top">
<p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i>Tile 2</i></b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Headline]</b></p>
<p>Explore NetApp solutions</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Body]</b></p>
<p>Find the right solution for your specific business needs by exploring NetApp's solutions.</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[CTA]</b></p>
<p>Explore NetApp solutions</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Link]</b></p>
<p><a href="https://explore.netapp.com/">https://explore.netapp.com/</a></p>
</td>
</tr>
<tr style="height: 25.9pt;">
<td style="width: 233.15pt; border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; border-top: none; padding: 0in;" valign="top">
<p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i>Tile 3</i></b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Headline]</b></p>
<p>Visit our blogs</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Body]</b></p>
<p>Stay connected with new content from NetApp blogs.</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[CTA]</b></p>
<p>Visit our blogs</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Link] <a href="/cloud/www.netapp.com/blog/">www.netapp.com/blog/</a></b></p>
</td>
<td style="width: 242.1pt; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1pt solid windowtext; padding: 0in;" valign="top">
<p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b><i>Tile 4</i></b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Headline]</b></p>
<p>NetApp learning services</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Body]</b></p>
<p>Learn how NetApp learning services can help you achieve your business goals.</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[CTA]</b></p>
<p>Visit NetApp learning services</p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><b>[Link]</b></p>
<p><a href="https://www.netapp.com/support-and-training/netapp-university">https://www.netapp.com/support-and-training/netapp-university</a></p>
</td>
</tr>
</tbody>
</table>
<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><b>&nbsp;</b></p>
<p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><b style="font-size: 11pt;">&nbsp;</b></p>