<h4 id="Prose-Prosedisplayslongformnarrativetext."><br></h4>
<table border="1" cellpadding="0" cellspacing="0" class="MsoNormalTable" style="width: 617px; border-collapse: collapse; height: 383px;">
    <tbody>
        <tr style="height: 15px;">
            <td style="width: 615px; border: 1pt solid black; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 15px;" valign="top">
                <p id="heading-append" style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em>Component name: <span style="color: black;">Press Release Article &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></em></p>
            </td>
        </tr>
        <tr >
            <td style="width: 615px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in;" valign="top">
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Guidelines:&nbsp;</span></em></p>
                <p style="margin: 0in; text-align: justify; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Title (required); Character limit 45.</span></p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Subheading (optional).</span></p>
                <p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;">Body (required)</span></p>                                               
            </td>
        </tr>
        <tr style="height: 27.6pt;">
            <td id= "page-content" style="width: 467.2pt; border: solid black 1.0pt; border-top: none; padding: 0in 0in 0in 0in;" valign="top">
                <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Title]&nbsp;</strong></p>
                <p id = 'a1-h1'style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>   
            </td>
        </tr>
        <tr style="height: 12.75pt;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 32px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Image</span></em></p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
            </td>
        </tr>
        <tr style="height: 26.7pt;">
            <td  style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 96px;" valign="top">
            <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Source:</span></em><span style='font-size:15px;font-family:  "Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
            <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span id='a1-image-source' style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
            <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Alt text:</span></em><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>
            <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><span id ='a1-image-alt-text'style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>                                    
            </td>
        </tr>
        <tr style="height: 30px;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Left Content Column</span></em></p>
            </td>
        </tr>
        <tr style="height: 54.6pt;">
            <td id= "page-content" style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 160px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[RTF]&nbsp;</strong></p>
                <p id = "rtf" style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>               
            </td>
        </tr>
        <tr style="height: 30px;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Main Content Column</span></em></p>
            </td>
        </tr>
        <tr style="height: 54.6pt;">
            <td id= "page-content" style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 160px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Subheading]</strong></p>
                <p id="a1-subheading"style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Location]</strong></p>
                <p id = "a1-location"style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>[Body]</strong></p>
                <p id = "a1-body" style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>                
            </td>
        </tr>
    </tbody>
</table>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
<div><br></div>