<div style="width: 650px;">

<p style="margin: 0in 0in 8pt; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
<table class="MsoNormalTable" style="width: 467.2pt; border-collapse: collapse; height: 276px;" border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr style="height: 18px;">
<td style="width: 620px; border: 1pt solid black; background: #e7e6e6; padding: 0in; height: 18px;" colspan="2" valign="top">
<p id="heading-append" style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><i>Component name: <span style="color: black;">Prose Meta Side Bar</span></i></p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 620px; border-right: 1pt solid black; border-bottom: 1pt solid black; border-left: 1pt solid black; border-image: initial; border-top: none; background: #e7e6e6; padding: 0in; height: 60px;" colspan="2" valign="top">
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><i><span style="color: black;">Guidelines: </span></i></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"></span></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"></span></p>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;"><span style="color: black;"></span></p>
</td>
</tr>
<tr style="height: 12.75pt;">
    <td style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 32px;" valign="top">
        <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Logo Image</span></em></p>
        <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
    </td>
</tr>
<tr style="height: 26.7pt;">
    <td style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 96px;" valign="top">
        <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Source:</span></em><span style='font-size:15px;font-family:  "Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
    <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span id='a1-image-source' style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>&nbsp;</span></p>
    <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:gray;'>Alt text:</span></em><em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></em><span style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>
    <p style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Times New Roman",serif;margin:0in;'><span id ='a1-image-alt-text'style='font-size:15px;font-family:"Calibri",sans-serif;color:#44546A;'>&nbsp;</span></p>                                    
    </td>
</tr>
        <tr style="height: 16px;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Heading/Call to Action</span></em></p>
            </td>
        </tr>
        <tr style="height: 16px;">
            <td id= "page-content" style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 80px;" valign="top">
        <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Headline]&nbsp;</strong></p>
        <p id = 'a1-h1'style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>&nbsp;</strong></p>
        <p style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><strong>[Link]</strong></p>
        <p id = 'a1-link1' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>       
            </td>
        </tr>
        <tr style="height: 16px;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; text-align: center; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">Info</span></em></p>
            </td>
        </tr>
        <tr style="height: 16px;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; background: none 0% 0% repeat scroll #e7e6e6; padding: 0in; height: 16px;" valign="top">
                <p style="margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;"><em><span style="color: black;">This section is automaticaly generated by the Page Component Tags</span></em></p>
            </td>
        </tr>
        <tr style="height: 16px;">
            <td style="width: 620px; border-color: currentcolor black black; border-style: none solid solid; border-width: medium 1pt 1pt; border-image: none 100% / 1 / 0 stretch; padding: 0in; height: 80px;" valign="top">        
        <p id = 'a1-body' style='margin: 0in; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif;'><em>&nbsp;</em></p>       
            </td>
        </tr>
        
    </tbody>
</table>
<p style="margin: 0in; line-height: 107%; font-size: 11pt; font-family: Calibri, sans-serif;">&nbsp;</p>
</div>